

function plumed_preliminary_test(){
# check if the README contains the word GROMACS
  grep -q GROMACS README 1>/dev/null 2>/dev/null
}

function plumed_before_patch(){
  echo ""
}

function plumed_after_revert(){
  echo ""
}

function plumed_patch_info(){
cat << EOF

PLUMED can be incorporated into gromacs using the standard patching
procedure.  Patching must be done in the gromacs source directory
_after_ gromacs has been configured but _before_ gromacs is
compiled. You can also just recompile after patching

To enable PLUMED in a gromacs simulation one should use mdrun with an
extra -plumed flag. The flag can be used to specify the name of the
PLUMED input file, e.g.:

mdrun -plumed plumed.dat

For more information on gromacs you should visit
http://www.gromacs.org

EOF
}

